
body {
	background-image: url("../images/Background_Full_Bloom.png");
}

img {
    width: 100%;
    height: 45rem;
    border-radius: 0.7rem;
    display: block !important;
}
.carousel {
    margin: 0 auto;
}

.carousel-caption {
    background-color: darkgray;
    opacity: 0.9;
    border-radius: 0.7rem;
    color: white;
    padding: 1rem;
    font-size: 1.5rem;
}

.item-stripe {
    color: white;
    text-align: center;
    font-weight: 900;
    position: absolute;
    top: 1rem;
    width: 100%;
    font-size: 2.5rem;
    background: repeating-linear-gradient(
        135deg,
        black,
        black 10px,
        #F3C031 10px,
        #F3C031 20px
  );
}

@media screen and (max-width: 768px) {
    .carousel {
        width: 95%;
    }

    img {
        height: 30rem;
        width: 120%;
    }
}