
body {
	background-image: url("../images/Background_Full_Bloom.png");
}

img {
    width: 100%;
    height: 45rem;
    border-radius: 0.7rem;
    display: block !important;
}
.carousel {
    width: 85%;
    margin: 0 auto;
}

.carousel-caption {
    background-color: darkgray;
    opacity: 0.9;
    border-radius: 0.7rem;
    color: white;
    padding: 1rem;
    font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
    .carousel {
        width: 95%;
    }

    img {
        height: 30rem;
        width: 120%;
    }
}